body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  display: block;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #ccd0e8;
  background: aqua;
  /* font: normal normal 400 16px "Poppins", sans-serif; */
  margin-top: 10px;
  outline: none;
}